body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    margin: 40px 20px ;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

header h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

main section {
    margin-top: 30px;
}

h2 {
    color: #007bff;
    font-size: 28px;
    margin-bottom: 10px;
}

p, label, input, ol, ul {
    font-size: 18px;
    color: #666;
    margin: 10px 0;
}

label, input {
    margin-top: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    font-size: 16px;
    color: #999;
}
